build/
sdkconfig
sdkconfig.old
target
.vscode
managed_components/
dependencies.lock
# build directories created by idf_build_apps, named <idf_version>/build_<target>_<config>
[0-9].[0-9]/
# scratch file written by "idf_build_apps --override-sdkconfig-files"
override-result.sdkconfig
__pycache__
pytest_log
