menu "Audio Media HAL"

choice AUDIO_BOARD
    prompt "Audio hardware board"
    default ESP_LYRAT_MINI_V1_1_BOARD
    help
        Select an audio board to use with the ESP-ADF

config ESP_LYRAT_V4_3_BOARD
    bool "ESP32-Lyrat V4.3"
config ESP_LYRAT_MINI_V1_1_BOARD
    bool "ESP32-Lyrat Mini V1.1"
config ESP32_KORVO_V1_1_BOARD
    bool "ESP32-Korvo V1.1"
endchoice

choice MIC_ARRAY_TYPE
    prompt "Mic-array type"
    depends on ESP32_KORVO_V1_1_BOARD

config 2_MIC_LINEAR_ARRAY
	bool "2-mic linear array"
config 3_MIC_CIRCULAR_ARRAY
	bool "3-mic circular array"
endchoice

endmenu
