menu "Audio Media HAL"

choice AUDIO_BOARD
    prompt "Audio hardware board"
    default ESP_LYRAT_MINI_V1_1_BOARD
    help
        Select an audio board to use with the ESP-ADF

config ESP_LYRAT_V4_3_BOARD
    bool "ESP32-Lyrat V4.3"
config ESP_LYRAT_MINI_V1_1_BOARD
    bool "ESP32-Lyrat Mini V1.1"
endchoice

choice AUDIO_CODEC_CHIP
    prompt "Audio codec chip"
    default CODEC_CHIP_IS_ES8388
    help
        Select an audio codec to use with the project

config CODEC_CHIP_IS_ES8388
    bool "CODEC IS ES8388"
    depends on ESP_LYRAT_V4_3_BOARD || ESP_LYRAT_V4_2_BOARD || ESP_WHO_ALEXA_DEMO_V1_BOARD
config CODEC_CHIP_IS_ES8311
    bool "CODEC IS ES8311"
    depends on ESP_LYRAT_MINI_V1_1_BOARD || ESP_LYRAT_MINI_V1_0_BOARD || ESP_LYRAT_SIGHT_V1_0_BOARD
endchoice

choice USE_ES7243
    prompt "use external adc"
    default DISABLE_ES7423
    help
        choose whether use es7243

config USE_ES7243
    bool "use es7243"
    depends on ESP_LYRAT_MINI_V1_0_BOARD || ESP_LYRAT_MINI_V1_1_BOARD
config DISABLE_ES7243
    bool "disable es7243"
    depends on ESP_LYRAT_MINI_V1_0_BOARD || ESP_LYRAT_MINI_V1_1_BOARD
endchoice

endmenu
