CONFIG_IDF_TARGET="esp32s3"
CONFIG_IDF_TARGET_ESP32S3=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_ESP32S3_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_32KB=y
CONFIG_ESP32S3_DATA_CACHE_64KB=y
CONFIG_ESP32S3_DATA_CACHE_LINE_64B=y
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_SPEED_80M=y
# CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT is not set
CONFIG_ESP_SYSTEM_PANIC_PRINT_REBOOT=y
# CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT is not set
# CONFIG_ESP_SYSTEM_PANIC_GDBSTUB is not set
# CONFIG_ESP_SYSTEM_GDBSTUB_RUNTIME is not set
CONFIG_ESP_SYSTEM_RTC_FAST_MEM_AS_HEAP_DEPCHECK=y
CONFIG_ESP_SYSTEM_ALLOW_RTC_FAST_MEM_AS_HEAP=y

CONFIG_MODEL_IN_SPIFFS=y
# CONFIG_MODEL_IN_SDCARD is not set
CONFIG_USE_WAKENET=y
CONFIG_SR_WN_WN9_HIESP=y
CONFIG_USE_MULTINET=y
CONFIG_SR_MN_ENGLISH=y
CONFIG_SR_MN_CN_NONE=y
CONFIG_SR_MN_EN_MULTINET5_SINGLE_RECOGNITION_QUANT8=y
CONFIG_EN_SPEECH_COMMAND_ID0="TfL Mm c qbK"
CONFIG_EN_SPEECH_COMMAND_ID1="Sgl c Sel"
CONFIG_EN_SPEECH_COMMAND_ID2="PLd NoZ paNcL"
CONFIG_EN_SPEECH_COMMAND_ID3="TkN nN Mi StNDBnKS"
CONFIG_EN_SPEECH_COMMAND_ID4="TkN eF Mi StNDBnKS"
CONFIG_EN_SPEECH_COMMAND_ID5="hicST VnLYoM"
CONFIG_EN_SPEECH_COMMAND_ID6="LbcST VnLYoM"
CONFIG_EN_SPEECH_COMMAND_ID7="gNKRmS jc VnLYoM"
CONFIG_EN_SPEECH_COMMAND_ID8="DgKRmS jc VnLYoM"
CONFIG_EN_SPEECH_COMMAND_ID9="TkN nN jc TmVm"
CONFIG_EN_SPEECH_COMMAND_ID10="TkN eF jc TmVm"
CONFIG_EN_SPEECH_COMMAND_ID11="MdK Mm c Tm"
CONFIG_EN_SPEECH_COMMAND_ID12="MdK Mm c KnFm"
CONFIG_EN_SPEECH_COMMAND_ID13="TkN nN jc LiT"
CONFIG_EN_SPEECH_COMMAND_ID14="TkN eF jc LiT"
CONFIG_EN_SPEECH_COMMAND_ID15="pdNq jc KcLk To RfD"
CONFIG_EN_SPEECH_COMMAND_ID16="pdNq jc KcLk To GRmN"
CONFIG_EN_SPEECH_COMMAND_ID17="TkN nN eL jc LiTS"
CONFIG_EN_SPEECH_COMMAND_ID18="TkN eF eL jc LiTS"
CONFIG_EN_SPEECH_COMMAND_ID19="TkN nN jc fR KcNDgscNk"
CONFIG_EN_SPEECH_COMMAND_ID20="TkN eF jc fR KcNDgscNk"
CONFIG_EN_SPEECH_COMMAND_ID21="SfT jc TfMPRcpk To SgKSTmN DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID22="SfT jc TfMPRcpk To SfVcNTmN DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID23="SfT jc TfMPRcpk To dTmN DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID24="SfT jc TfMPRcpk To NiNTmN DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID25="SfT jc TfMPRcpk To TWfNTm DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID26="SfT jc TfMPRcpk To TWfNTm WcN DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID27="SfT jc TfMPRcpk To TWfNTm To DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID28="SfT jc TfMPRcpk To TWfNTm vRm DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID29="SfT jc TfMPRcpk To TWfNTm FeR DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID30="SfT jc TfMPRcpk To TWfNTm FiV DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID31="SfT jc TfMPRcpk To TWfNTm SgKS DgGRmZ"
CONFIG_EN_SPEECH_COMMAND_ID32=""
CONFIG_EN_SPEECH_COMMAND_ID33=""
CONFIG_EN_SPEECH_COMMAND_ID34=""
CONFIG_EN_SPEECH_COMMAND_ID35=""
CONFIG_EN_SPEECH_COMMAND_ID36=""
CONFIG_EN_SPEECH_COMMAND_ID37=""
CONFIG_EN_SPEECH_COMMAND_ID38=""
CONFIG_EN_SPEECH_COMMAND_ID39=""
CONFIG_EN_SPEECH_COMMAND_ID40=""
CONFIG_EN_SPEECH_COMMAND_ID41=""
CONFIG_EN_SPEECH_COMMAND_ID42=""
CONFIG_EN_SPEECH_COMMAND_ID43=""
CONFIG_EN_SPEECH_COMMAND_ID44=""
CONFIG_EN_SPEECH_COMMAND_ID45=""
CONFIG_EN_SPEECH_COMMAND_ID46=""
CONFIG_EN_SPEECH_COMMAND_ID47=""
CONFIG_EN_SPEECH_COMMAND_ID48=""
CONFIG_EN_SPEECH_COMMAND_ID49=""
CONFIG_EN_SPEECH_COMMAND_ID50=""
